
<!-- Sidebar Toggle (Hidden Checkbox) -->
<input type="checkbox" id="sidebar-toggle">

<!-- Navbar with Toggler inside -->
<nav class="navbar navbar-expand-xl">
  <div class="container-fluid">
   
    <div class="collapse navbar-collapse  " id="navbarNav">
      <ul class="navbar-nav ms-auto me-3">
        <li class="nav-item">
          <a class="nav-link  fw-bold "  href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link fw-bold" href="#" >Orders</a>
        </li>
        <li class="nav-item">
          <a class="nav-link fw-bold" href="#">Report</a>
        </li>
     
      </ul>
    </div>
    <a class="navbar-brand d-flex align-items-center" href="#">
      <!-- <img src="assets/image/400logo-removebg-preview.png" alt="Brand Logo" class="navbar-logo"> -->
      <!-- <p>
        <span class="brand-text ms-2">Hi-tech Furniture</span><br>
        <span class="brand-text ms-2">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; & Kitchen Trolley's</span>
      </p> -->
      <p>
        <span class="brand-text ms-2">Hi-tech Furniture & Kitchen Trolley's </span><br>
        
      </p>
      
  </a>
  
  
  </div>
</nav>




<!-- Overlay (Click to close sidebar) -->
<label class="overlay " for="sidebar-toggle "></label>

  <nav class="navbar navbar-bottom d-xl-none ">

    <div class="container-fluid ">
      <ul class="nav justify-content-around w-100 fw-bold">
        <li class="nav-item">
          <a class="nav-link text-center fw-bold" routerLink="/main"  style="color: aliceblue;">
            <i class="bi bi-house "></i><br>Home
          </a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link text-center" routerLink="/report"  style="color: aliceblue;">
            <i class="bi bi-tag"></i><br>Report
          </a>
        </li>
       
      </ul>
    </div>
  </nav>

  

